@use "../../../styles.scss" as styles;

:host {
	position: relative;
	width: 1250px;
	height: 650px;
	border: 1px solid styles.$mainHighlightColor;
	border-radius: 24px;
	background-color: styles.$mainBackgroundColor;
	padding: 56px 80px;
	display: flex;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
	gap: 88px;
	z-index: 1000;
}

main {
	display: flex;
	flex-direction: column;
	gap: 40px;
	flex: 1;

	.title {
		h2 {
			font-family: "karla";
			font-weight: 700;
			font-size: 128px;
			color: styles.$mainHighlightColor;
			display: flex;
			align-items: center;
		}

		p {
			color: white;
			font-family: "FiraCode-700";
			font-size: 64px;
			letter-spacing: -1px;
		}
	}

	.info {
		flex: 1;
		color: white;
		display: flex;
		flex-direction: column;
		gap: 16px;

		.about {
			display: flex;
			flex-direction: column;
			gap: 20px;

			h3 {
				font-size: 24px;
				color: styles.$mainHighlightColor;
				font-family: "FiraCode-700";
				line-height: 120%;
			}

			p {
				font-family: "karla";
				line-height: 1.2;
				font-size: 18px;
			}
		}

		.tech {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			margin-top: 16px;

			.tech-item {
				display: flex;
				align-items: center;
				gap: 4px;

				img {
					width: 24px;
					height: 24px;
				}

				span {
					font-size: 16px;
					color: white;
					line-height: 1.2;
					font-family: "karla";
				}
			}
		}
	}

	.links {
		display: flex;
		gap: 32px;
	}
}

.preview {
	position: relative;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	> img {
		max-width: 100%;
		border-radius: 30px;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		background: none;
		border: none;
		cursor: pointer;
		transition: transform 0.2s ease;

		img {
			width: 28px;
			height: 28px;
		}

		&:hover {
			transform: scale(1.2);
			filter: drop-shadow(0 0 6px styles.$mainHighlightColor);
		}
	}

	.next {
		display: flex;
		gap: 8px;
		position: absolute;
		right: 0;
		bottom: 0;
		align-items: center;
		cursor: pointer;

		img {
			height: 32px;
			width: 32px;
		}
		span {
			font-family: "karla";
			font-size: 18px;
			color: styles.$mainHighlightColor;
			white-space: nowrap;
		}
	}
}
