@use "../../../styles.scss" as styles;

section {
	position: absolute;
	width: 1250px;
	height: 650px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: red;
	border: 1px solid styles.$mainHighlightColor;
	border-radius: 24px;
	background-color: styles.$mainBackgroundColor;
	padding: 80px;
}
