<main>
	<section class="title">
		<h2>{{ index + 1 | number : "2.0" }}</h2>
		<p>{{ project.name }}</p>
	</section>
	<section class="info">
		<div class="about">
			<h3>What is this project about?</h3>
			<p>{{ project.description }}</p>
		</div>

		<div class="tech">
			@for (tech of project.technologies; track tech) {
			<div class="tech-item">
				<img [src]="techMap[tech]" [alt]="tech" />
				<span>{{ tech }}</span>
			</div>
			}
		</div>
	</section>
	<section class="links">
		@for (entry of project.url | keyvalue; track entry.key) {
		<app-button
			[label]="entry.key"
			[link]="entry.value"
			[externalLink]="true"
		></app-button>
		}
	</section>
</main>
<div class="preview">
	<img [src]="project.image" [alt]="project.name" />

	<button (click)="onClose()"></button>

	<div class="next" (click)="next()">
		<span>Next project</span>
		<img src="assets/img/buttons/arrow-right-green.png" />
	</div>
</div>
