<section>
	<header>
		<h2>{{ index + 1 | number : "2.0" }}</h2>
		<p>{{ project?.name }}</p>
		<button (click)="onClose()">
			<img src="assets/img/buttons/x-white.png" />
		</button>
	</header>

	<main>
		<div class="info">
			<h3>What is this project about?</h3>
			<p>{{ project?.description }}</p>

			<div class="tech">
				@for (tech of project?.technologies; track tech) {
				<div class="tech-item">
					<img [src]="techMap[tech]" [alt]="tech" />
					<span>{{ tech }}</span>
				</div>
				}
			</div>

			@if (project?.url) {
			<a [href]="project.url" target="_blank">GitHub ↗</a>
			}
		</div>

		<div class="preview">
			<img [src]="project?.image" [alt]="project?.name" />
		</div>
	</main>
</section>
