@use "../../../styles.scss" as styles;

* {
	color: white;
	font-family: "FiraCode-400";
	font-size: 16px;
}

.separator {
	color: styles.$mainHighlightColor;
}

:host {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	// align-items: center;
	gap: 72px;

    &:hover .project-card-table{
        background-color: styles.$mainHoverColor;
        cursor: pointer;
    }

&:hover .project-name::after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 4px;
	background-image: url("../../../../public/assets/img/buttons/arrow-outward-white.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}

	> .project-card-table {
		flex: 2;
		display: flex;
        align-items: center;
		flex-direction: row;
        justify-content: space-between;
		width: 100%;
		gap: 10px;
		padding: 40px 32px;
        border-top: 1px solid styles.$mainHighlightColor;
        border-bottom: 1px solid styles.$mainHighlightColor;
        border-color: styles.$mainHighlightColor;
        letter-spacing: 0%;

        .project-name{
            font-size: 24px;
            font-weight: 700;
        }

        .tech{
            font-family: karla;
            font-size: 16px;
            font-weight: 400;
        }
	}

	> .project-card-image {
        font-size: 18px;
		padding: 20px;
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		>img{
			width: 320px;
			// height: 180px;
		}
		// background-color: styles.$mainHighlightColor;
	}
}
