$image-width: 296px;
$image-height: 192px;

:host {
	width: 90%;
	height: 90%;

	.image-container {
		position: relative;
		width: $image-width;
		height: $image-height;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: $image-width;
			height: $image-height;
			background-image: url("../../../../public/assets/img/projects/hatching.png");
			background-size: cover;
			transform: translate(20px, 20px);
			border-radius: 30px;
			z-index: 1;
		}

		img {
			position: relative;
			z-index: 2;
			width: $image-width;
			height: $image-height;
			border-radius: 16px;
			object-fit: cover;
		}
	}
}
