$image-width: 296px;
$image-height: 192px;

section {
  width: 90%;
  height: 90%;

  .image-container {
    position: relative;
    width: $image-width;
    height: $image-height;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: $image-width;
      height: $image-height;
      background-image: url("../../../../public/assets/img/projects/hatching.png");
      background-size: cover;
      transform: translate(20px, 20px);
      border-radius: 30px;
      z-index: 1;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: $image-width;
      height: $image-height;
      object-fit: cover;
      border-radius: 16px;
      z-index: 2;
      display: block;
    }
  }
}
