section {
	width: 90%;
	height: 90%;
	div {
		position: relative;
		width: 296px;
		height: 192px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 296px;
			height: 192px;
			background-image: url("../../../../public/assets/img/projects/hatching.png");
			background-size: cover;
			transform: translate(20px, 20px);
			border-radius: 30px;
		}
	}

	img {
		position: relative;
		z-index: 2;
		width: 100%;
		border-radius: 16px;
	}
}
