@use "../../styles.scss" as styles;

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: styles.$mainBackgroundColor;
	gap: 40px;
}

h1 {
	font-size: 32px;
	margin-bottom: 10px;
}

.carousel-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.single-feedback-container {
	display: flex;
	gap: 64px;
	padding: 20px;
	overflow-x: auto;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	transition: all 0.3s ease;

	&::-webkit-scrollbar {
		display: none;
	}
}

.gradient-overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(
		90deg,
		#1c1c1c 0%,
		rgba(28, 28, 28, 0) 10%,
		rgba(28, 28, 28, 0) 90%,
		#1c1c1c 100%
	);
}

app-single-feedback {
	scroll-snap-align: center;
	flex: 0 0 auto;
}

.carousel-spacer {
	flex: 0 0 50%;
	pointer-events: none;
}

.not-in-focus {
	transform: scale(0.9);
	transition: all 0.3s ease;
	background-color: #3dcfb61a;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-top: 10px;

	.btn-prev,
	.btn-next {
		width: 40px;
		height: 40px;
		cursor: pointer;
		background-size: cover;
		background-position: center;
		transition: all 0.2s ease;
	}

	.btn-prev {
		background-image: url("../../../public/assets/img/buttons/arrow-back-white.png");

		&:hover {
			background-image: url("../../../public/assets/img/buttons/arrow-back-green.png");
		}
	}

	.btn-next {
		background-image: url("../../../public/assets/img/buttons/arrow-forward-white.png");

		&:hover {
			background-image: url("../../../public/assets/img/buttons/arrow-forward-green.png");
		}
	}

	.dots {
		display: flex;
		gap: 12px;

		.dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #fff;
			transition: background-color 0.3s ease;
		}

		.marked {
			background-color: styles.$mainHighlightColor;
		}
	}
}
