@use "../../../styles.scss" as styles;

section {
	transform: translateY(24px);
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	justify-content: center;
	padding: 16px;
	
	@media (min-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
	}
	
	@media (min-width: 900px) {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.skill-item {
		font-family: "FiraCode-400";
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		background-color: #1e1e1e;
		border-radius: 8px;

		img:hover {
			transform: scale(1.1);
			transition: transform 0.275s;
		}
		img:not(:hover) {
			transform: scale(1);
			transition: transform 0.275s;
		}
	}
}
