@use "../../../styles.scss" as styles;

main {
	display: flex;
	flex-direction: column;
	gap: 26px;

	h3,
	h2 {
		color: styles.$mainHighlightColor;
	}

	& > section {
		position: relative;
		background-color: styles.$mainBoxColor;
		border: 1px solid styles.$mainHighlightColor;
		color: white;
		font-family: "FiraCode-400";
		width: 360px;
		height: 360px;
		border-radius: 30px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		transition: transform 0.2s;
		gap: 32px;

		h2 {
			font-family: "FiraCode-700";
			font-size: 64px;
			color: styles.$mainHighlightColor;
			font-weight: 700 !important;
		}

		> div {
			display: flex;
			flex-direction: row;
			gap: 16px;
			> img {
				width: 32px;
				height: 32px;
			}

			> div {
				font-family: Karla;
				font-size: 20px;
				letter-spacing: 2px;
				line-height: 125%;
			}
		}
	}
}
