<main [style.transform]="'translate(' + offsetX + 'px,' + offsetY + 'px)'">
	@if(topic){
	<div class="topic">
		<h3>{{ topic }}</h3>
	</div>
	}
	<section class="infobox" [style.width]="width" [style.height]="height">
		<h1>{{ title }}</h1>
		<p>{{ description }}</p>

		@if (location) {
		<div>
			<img
				[src]="locationIcon"
				alt="Location Icon"
				width="24"
				height="24"
			/>
			<p>{{ location }}</p>
		</div>
		} @if (openMinded) {
		<div>
			<img
				[src]="openMindedIcon"
				alt="Open Minded Icon"
				width="24"
				height="24"
			/>
			<p>{{ openMinded }}</p>
		</div>
		} @if (problemSolving) {
		<div>
			<img
				[src]="problemSolvingIcon"
				alt="Problem Solving Icon"
				width="24"
				height="24"
			/>
			<p>{{ problemSolving }}</p>
		</div>
		} @if (paragraph1) {
		<p>{{ paragraph1 }}</p>
		} @if (paragraph2) {
		<p>{{ paragraph2 }}</p>
		} @if (paragraph3) {
		<p>{{ paragraph3 }}</p>
		} @if (paragraph4) {
		<p>{{ paragraph4 }}</p>
		} @if (paragraph5) {
		<p>{{ paragraph5 }}</p>
		} @if (buttonText) {
		<app-button label="{{ buttonText }}" [link]="buttonLink">{{
			buttonText
		}}</app-button>
		}
		<ng-content></ng-content>
	</section>
</main>
