@use "./../../styles.scss" as styles;

:host {
	height: 100vh;
	width: 100%;
	background-color: styles.$mainBackgroundColor;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 96px;
}

.image-container {
	position: relative;
	width: 568px;
	height: 568px;

	&:hover {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../../../public/assets/img/portrait_background.png");
			background-size: cover;
			transform: translate(-46px, 30px);
			border-radius: 30px;
		}
	}
}

.image-container img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
