<section>
	<div class="image-container">
		<img src="assets/img/portrait.png" alt="Hauptbild" />
	</div>

	<app-infobox
		width="568px"
		height="auto"
		title="About me"
		description="Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?"
		location="Germany"
		openMinded="Ich habe Erfahrung in der Entwicklung von Webanwendungen mit Angular
			und TypeScript. Ich bin immer auf der Suche nach neuen
			Herausforderungen und Möglichkeiten, meine Fähigkeiten
			weiterzuentwickeln."
		problemSolving="Ich bin ein kreativer Problemlöser mit einem
			analytischen Denkansatz. Ich liebe es, komplexe Probleme zu
			lösen und innovative Lösungen zu finden."
	>
	</app-infobox>
</section>
