@use "./../../styles.scss" as styles;

:host {
	font-family: "FiraCode-400";
	background: rgb(29, 29, 29);
	background: linear-gradient(45deg, #1c1c1c 40%, #08463b 120%);
	height: styles.$headerHeight;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 25px 96px;
}

.left {
	color: white;
	font-family: "FiraCode-400";
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 24px;

	* {
		cursor: pointer;
	}

	div {
		position: relative;
		transition: all 0.3s ease-in-out;

		&::after {
			content: "";
			transform: translateX(-50%);
			border-radius: 100%;
			position: absolute;
			background: #3dcfb6;
			bottom: -8px;
			height: 8px;
			width: 8px;
			left: 50%;
			opacity: 0;
			transition: opacity 150ms ease-in-out;
		}

		&:hover::after {
			opacity: 1;
		}
	}
}

.right {
	position: relative;
	font-family: "FiraCode-400";
	display: flex;
	align-items: center;
	gap: 8px;
	width: 200px;

	> img {
		position: absolute;
		height: 48px;
		transition: opacity 100ms ease-in;
		cursor: pointer;
	}

	&:hover #img-normal {
		opacity: 0;
	}

	&:hover #img-outline {
		opacity: 1;
	}
}
