main {
	font-family: "FiraCode-400";
	background: rgb(29, 29, 29);
	background: linear-gradient(45deg, #1c1c1c 40%, #08463b 120%);
	height: var(--header-height);
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 25px 96px;
}

.left {
	color: white;
	font-family: "FiraCode-400";
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 24px;

	* {
		cursor: pointer;
	}

	div {
		position: relative;
		transition: all 0.3s ease-in-out;

		&::after {
			transition: all 1s ease;
		}

		&:hover::after {
			transform: translateX(-50%);
			border-radius: 100%;
			position: absolute;
			background: #3dcfb6;
			bottom: -8px;
			height: 8px;
			content: "";
			width: 8px;
			left: 50%;
		}
	}
}

.right {
	content: url("../../../public/assets/img/name-normal.png");
	font-family: "FiraCode-400";
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--main-color);

	&:hover {
		cursor: pointer;
		content: url("../../../public/assets/img/name-outline-test.png");
	}

	> img {
		height: 48px;
	}
}
