@use "../../styles.scss" as styles;

section {
	background-color: styles.$mainBackgroundColor;

	p {
        padding-block: 12px;
		font-family: FiraCode-400;
        color: white;
		font-size: 16px;
	}
}
