@use "../../styles.scss" as styles;

main{
	display: flex;
	
	div{
		flex: 2
	}
}
section {
	background-color: styles.$mainBackgroundColor;

	p {
        padding-block: 12px;
		font-family: FiraCode-400;
        color: white;
		font-size: 16px;
	}
}
