@use "../../styles.scss" as styles;

main {
	display: flex;
	gap: 72px;

	div:first-child {
		flex: 1;
	}

	div:last-child {
		flex: 0;
		min-width: 408px;
	}
}
section {
	background-color: styles.$mainBackgroundColor;

	p {
		padding-block: 12px;
		font-family: FiraCode-400;
		color: white;
		font-size: 16px;
	}
}

.backdrop {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
