section {
	background: linear-gradient(
		45deg,
		#1c1c1c 40%,
		#08463b 120%,
		// rgba(7, 57, 48, 1) 100%
	);

	height: calc(100vh - var(--header-height));
	max-height: calc(900px - var(--header-height));
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;

	.title {
		color: white;
		display: flex;
		align-items: center;

		flex-direction: column;
		gap: 12px;

		h1 {
			font-family: "karla";
			letter-spacing: -0.025em;
		}

		h2 {
			font-family: "FiraCode-400";
		}
	}
	.buttons {
		display: flex;
		flex-direction: row;
		gap: 48px;
	}
}
// app-marquee {
// 	position: absolute;
// 	width: calc(100% + 3px);
// 	overflow-x:hidden;
// 	z-index: 100;
// }
