@use '../../styles.scss' as styles;

section {
	height: min-content;
	width: 100%;
	background-color: styles.$mainBackgroundColor;
	display: flex;
	justify-content: space-around;
	align-items: center;
}