<section>
	<app-infobox
		topic="Technologies"
		width="568px"
		height="auto"
		offsetX="0"
		offsetY="0"
		title="Skill Set"
		description="A short introduction of your skills. Highlight your experience of using different front-end technologies and emphasise your openness to learning and adapting to new technologies. Show how important it is for you to keep up with the rapid changes in web development."
		buttonText="Let's Talk"
		buttonLink="mailto:PZoJr@example.com"
		paragraph1="You need another skill?"
		paragraph2="Feel free to contact me. I look forward to expanding on my previous knowledge."
		>
	</app-infobox>
	<app-skill-item>	</app-skill-item>

</section>
