.marquee-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 100px;
	width: 100%;
	height: 60px;
	overflow: hidden;
	position: relative;
	background-color: #f0f0f0;
	transform: rotate(-3deg);
	overflow: hidden;
	// TODO: make it more than 100% so no edge is visible
}

.marquee {
	display: inline-block;
	white-space: nowrap;
	animation: marquee-animation 10s linear infinite;
}

@keyframes marquee-animation {
	0% {
		transform: translateX(350%);
	}
	100% {
		transform: translateX(-300%);
	}
}
