.marquee-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 100px;
	width: 100%;
	height: 60px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 12%);
	transform: rotate(-3deg);
}

.marquee {
	display: flex;
	width: fit-content;
	animation: marquee-animation 20s linear infinite;
}

.marquee-content {
	display: flex;
	width: 50%; // wichtig, damit 2x 50% == 100% und keine Lücke
	align-items: center;
	gap: 60px;
	font-size: 32px;
	font-family: Karla;
	font-weight: 400;
	color: var(--main-hightlight-clr);
	white-space: nowrap;

	img {
		width: 8px;
		height: 8px;
	}
}

@keyframes marquee-animation {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
