<div class="marquee-wrapper">
	<div class="marquee">
		<!-- Duplizierte Liste für nahtlosen Loop -->
		<div class="marquee-content">
			@for (item of marqueeList; track item; let lastIdx = $last) {
				<span>{{ item }}</span>
				@if (!lastIdx) {
					<img src="assets/img/buttons/radio-button-unchecked.png" />
				}
			}
		</div>
		<div class="marquee-content">
			@for (item of marqueeList; track item; let lastIdx = $last) {
				<span>{{ item }}</span>
				@if (!lastIdx) {
					<img src="assets/img/buttons/radio-button-unchecked.png" />
				}
			}
		</div>
	</div>
</div>
