$mainBackgroundColor: #1b1c1d;
$headerHeight: 100px;
$mainHighlightColor: #3dcfb6;
$mainBoxColor: #3dcfb61a;
$mainHoverColor: #3DCFB64D;

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--header-height: 100px;
	--main-hightlight-clr: #3dcfb6;
}

@font-face {
	font-family: "FiraCode-400";
	src: url("../public/assets/font/FiraCode-Light.ttf");
}

@font-face {
	font-family: "karla";
	src: url("../public/assets/font/Karla-Regular.ttf");
}

@font-face {
	font-family: "FiraCode-700";
	src: url("../public/assets/font/FiraCode-Bold.ttf");
}
// @font-face {
//     font-family: 'FiraCode-500';
//     src: url('../public/assets/fonts/FiraCode-Medium.ttf');
// }

// @font-face {
//     font-family: 'FiraCode-600';
//     src: url('../public/assets/fonts/FiraCode-SemiBold.ttf');
// }

h1 {
	font-family: "FiraCode-700";
	font-size: 64px;
	color: $mainHighlightColor;
	font-weight: 700 !important;
}

h2 {
	font-family: "FiraCode-400";
	color: $mainHighlightColor;
	font-size: 40px;
}

h3 {
	color: $mainHighlightColor;
	font-family: "FiraCode-400";
	font-size: 20px;
	letter-spacing: -1px;
	line-height: 100%;
}
.dot {
	background: $mainHighlightColor;
	width: 8px;
	height: 8px;
	border-radius: 100%;
}
