$mainBackgroundColor: #1B1C1D;
$headerHeight: 100px;
$mainHighlightColor: #3dcfb6;

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--header-height: 100px;
	--main-hightlight-clr: #3dcfb6;
}

@font-face {
	font-family: "FiraCode-400";
	src: url("../public/assets/font/FiraCode-Light.ttf");
}

@font-face {
	font-family: "karla";
	src: url("../public/assets/font/Karla-Regular.ttf");
}

// @font-face {
//     font-family: 'FiraCode-500';
//     src: url('../public/assets/fonts/FiraCode-Medium.ttf');
// }

// @font-face {
//     font-family: 'FiraCode-600';
//     src: url('../public/assets/fonts/FiraCode-SemiBold.ttf');
// }

@font-face {
	font-family: "FiraCode-700";
	src: url("/public/assets/fonts/FiraCode-Bold.ttf");
}

h1 {
	font-size: 128px;
}

h2 {
	font-size: 40px;
}

.dot {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background: $mainHighlightColor
}
